<mat-card class="example-card h-100 d-flex flex-column justify-content-between">
    <mat-card-title class="p-2">{{post.title}}</mat-card-title>
    <mat-card-content class="p-2">{{post.content}}</mat-card-content>
    <mat-card-footer class="p-3 d-flex justify-content-between">
        <button mat-mini-fab color="primary">
            <mat-icon>edit</mat-icon>
        </button>
        <button mat-mini-fab color="warn">
            <mat-icon>delete</mat-icon>
        </button>
    </mat-card-footer>
</mat-card>